USE [master]
GO
/****** Object:  Database [A1_Data]    Script Date: 2020-10-01 5:10:58 PM ******/
CREATE DATABASE [A1_Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A1_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\A1_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A1_Data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\A1_Data_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A1_Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A1_Data]
GO
USE [A1_Data]
GO
/****** Object:  Table [dbo].[tbl_Customers]    Script Date: 2020-10-01 5:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customers](
	[cust_id] [int] NOT NULL,
	[first_name] [nvarchar](20) NOT NULL,
	[last_name] [nvarchar](20) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[city] [nvarchar](20) NOT NULL,
	[province] [nchar](2) NOT NULL,
	[phone] [bigint] NULL,
 CONSTRAINT [PK_tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 2020-10-01 5:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[prod_id] [int] NOT NULL,
	[prod_name] [nvarchar](50) NOT NULL,
	[unit_price] [decimal](6, 2) NOT NULL,
	[prod_category] [nvarchar](20) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Sales]    Script Date: 2020-10-01 5:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sales](
	[transaction_id] [int] NOT NULL,
	[transaction_date] [date] NOT NULL,
	[prod_id] [int] NOT NULL,
	[invoice_number] [int] NOT NULL,
	[quantity] [int] NULL,
	[amount] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Customers] ([cust_id], [first_name], [last_name], [street], [city], [province], [phone]) VALUES (520, N'Tony ', N'Thomas', N'635 E 55th ', N'Vancouver', N'BC', 7788960490)
INSERT [dbo].[tbl_Customers] ([cust_id], [first_name], [last_name], [street], [city], [province], [phone]) VALUES (521, N'Amal', N'Mathew', N'820 W 63', N'Abbotsford', N'BC', 7785231090)
INSERT [dbo].[tbl_Customers] ([cust_id], [first_name], [last_name], [street], [city], [province], [phone]) VALUES (522, N'Vicky', N'Valsan', N'9557 96 E', N'Surrey', N'BC', 6045230491)
GO
INSERT [dbo].[tbl_Products] ([prod_id], [prod_name], [unit_price], [prod_category]) VALUES (100, N'Tetly', CAST(5.23 AS Decimal(6, 2)), N'Beverages')
INSERT [dbo].[tbl_Products] ([prod_id], [prod_name], [unit_price], [prod_category]) VALUES (101, N'Sunlight', CAST(2.26 AS Decimal(6, 2)), N'Detergent')
INSERT [dbo].[tbl_Products] ([prod_id], [prod_name], [unit_price], [prod_category]) VALUES (102, N'Club Soda', CAST(1.00 AS Decimal(6, 2)), N'Beverage')
GO
INSERT [dbo].[tbl_Sales] ([transaction_id], [transaction_date], [prod_id], [invoice_number], [quantity], [amount]) VALUES (220, CAST(N'2020-01-25' AS Date), 101, 2351, 6, CAST(656.00 AS Decimal(9, 2)))
INSERT [dbo].[tbl_Sales] ([transaction_id], [transaction_date], [prod_id], [invoice_number], [quantity], [amount]) VALUES (221, CAST(N'2020-01-26' AS Date), 100, 2456, 2, CAST(123.00 AS Decimal(9, 2)))
INSERT [dbo].[tbl_Sales] ([transaction_id], [transaction_date], [prod_id], [invoice_number], [quantity], [amount]) VALUES (222, CAST(N'2020-01-25' AS Date), 101, 2351, 1, CAST(103.00 AS Decimal(9, 2)))
GO
ALTER TABLE [dbo].[tbl_Customers] ADD  CONSTRAINT [DF_Province]  DEFAULT ('BC') FOR [province]
GO
ALTER TABLE [dbo].[tbl_Sales]  WITH CHECK ADD FOREIGN KEY([prod_id])
REFERENCES [dbo].[tbl_Products] ([prod_id])
GO
USE [master]
GO
